<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Dodaj Kino</title>
</head>
<body>
<div th:replace="mainPage :: header"></div>
<div class="container">
    <form th:action="@{/addCinema}" th:object="${cinema}" method="post">
        <div>
            <div>
                <label for="cinemaName">Nazwa kina:</label>
            </div>
            <div>
                <input id="cinemaName" type="text" th:field="*{cinemaName}">
            </div>

            <div>
                <label for="city">Miasto:</label>
            </div>
            <div>
                <input id="city" type="text" th:field="*{city}">
            </div>

        </div>
        <div>
            <input type="submit" th:value="Zapisz">
        </div>
    </form>
</div>

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>