<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Lista Seansow</title>
</head>
<body>
<div th:replace="mainPage :: header"></div>

<!--<div class="container">-->
<!--
<form class="container" th:action="@{/findFilmShowByTitle}" th:object="${movie}" method="get">
    <input id="searchMovie" type="text" name="movieTitle" placeholder="Wpisz tekst">
    <button for="searchMovie">Szukaj</button>
</form>
-->
<div class="row col-md-offset-1 col-md-10">
    <div class="row table-header">
        <div class="col-md-1">Id</div>
        <div class="col-md-2">Data</div>
        <div class="col-md-3">Film</div>
        <div class="col-md-2">Kino</div>
        <div class="col-md-2">Edytuj</div>
        <div class="col-md-2">Usun</div>
    </div>
    <div class="row table-row" th:each="filmshow : ${filmShowList}">
        <div class="col-md-1"><p th:text="${filmshow.getFilmShowId()}"></p></div>
        <div class="col-md-2"><p th:text="${filmshow.getFilmShowDate()}"></p></div>
        <div class="col-md-3"><p th:text="${filmshow.getMovie().getTitle()}"></p></div>
        <div class="col-md-2"><p th:text="${filmshow.getCinema().getCinemaName()}"></p></div>
        <div class="col-md-2"><a th:href="@{'/updateFilmShow/' + ${filmshow.getFilmShowId()}}">Edytuj</a></div>
        <div class="col-md-2"><a th:href="@{'/deleteFilmShow/' + ${filmshow.getFilmShowId()}}">Usun</a></div>
    </div>
</div>
<!--</div>-->

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>