<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Lista Seansow</title>
</head>
<body>
<div th:replace="mainPage :: header"></div>

<div class="container">
<table>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Film</th>
        <th>Kino</th>
        <th>Edytuj</th>
        <th>Usun</th>
    </tr>
    <tr th:each="filmshow : ${filmShowList}">
        <th><p th:text="${filmshow.getFilmShowId()}"></p></th>
        <th><p th:text="${filmshow.getFilmShowDate()}"></p></th>
        <th><p th:text="${filmshow.getMovie().getTitle()}"></p></th>
        <th><p th:text="${filmshow.getCinema().getCinemaName()}"></p></th>
        <th><a th:href="@{'/updateFilmShow/' + ${filmshow.getFilmShowId()}}">Edytuj</a></th>
        <th><a th:href="@{'/deleteFilmShow/' + ${filmshow.getFilmShowId()}}">Usun</a></th>
    </tr>
</table>
</div>

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>