<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="links">
    <meta charset="UTF-8">
    <title>Strona filmowa</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav th:fragment="header" class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="red-link-home" th:href="@{/}">Home</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Film
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ROLE_OWNER')"><a th:href="@{/addMovie}">Dodaj Film</a></li>
                    <li><a th:href="@{/movieList}">Lista Filmow</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Kino
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ROLE_OWNER')"><a th:href="@{/addCinema}">Dodaj Kino</a></li>
                    <li><a th:href="@{/cinemaList}">Lista Kin</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Seans
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ROLE_OWNER')"><a th:href="@{/addFilmShow}">Dodaj Seans</a></li>
                    <li><a th:href="@{/filmShowList}">List Seansow</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="isAuthenticated()">
                <a class="dropdown-toggle" data-toggle="dropdown">Rezerwacja
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/addReservation}">Dodaj Rezerwacje</a></li>
                    <li><a th:href="@{/reservationList}">Lista Rezerwacji</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/allReservationList}">Wszystkie rezerwacje</a></li>
                </ul>
            </li>
            <li class="active">
                <a class="dropdown-toggle" data-toggle="dropdown">Logowanie</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/addAppUser}">Zarejestruj</a></li>
                    <li><a th:href="@{/login}">Zaloguj</a></li>
                    <li><a th:href="@{/logout}">Wyloguj</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

<section id="main">
    <div class="container">

        <article id="showcase">
            <h1>Profesjonalna strona filmowa</h1>
            <p>Opis strony</p>
        </article>

    </div>
</section>

<footer th:fragment="footer">
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/updateAppUser}"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
        <div class="panel-footer">
            <nav>
                <ul>
                    <li><p>Created by boguwyrw</p></li>
                </ul>
            </nav>
        </div>
    </div>

</footer>

</body>
</html>