<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <meta charset="UTF-8">
    <title>Strona filmowa</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<!--<header th:fragment="header">-->
    <!--<div class="container">-->

        <nav th:fragment="header" class="navbar navbar-inverse">
            <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="red-link-home" th:href="@{/}">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Film
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/addMovie}">Dodaj Film</a></li>
                        <li><a th:href="@{/movieList}">Lista Filmow</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/addCinema}">Dodaj Kino</a></li>
                <li><a th:href="@{/cinemaList}">Lista Kin</a></li>
                <li><a th:href="@{/addFilmShow}">Dodaj Seans</a></li>
                <li><a th:href="@{/filmShowList}">List Seansow</a></li>
                <li><a th:href="@{/addReservation}">Dodaj Rezerwacje</a></li>
                <li><a th:href="@{/reservationList}">Lista Rezerwacji</a></li>
                <!--<li><a href="#">Zaloguj</a></li>-->
            </ul>
            </div>
        </nav>
    <!--</div>-->
<!--</header>-->

<section id="main">
    <div class="container">

        <article id="showcase">
            <h1>Profesjonalna strona filmowa</h1>
            <p>Opis strony</p>
        </article>
<!--
        <aside id="sidebar">
            <h1>Wybierz gatunek</h1>
            <form>
                <input type="radio" name="" value=""> Horror <br>
                <input type="radio" name="" value=""> Sensacja <br>
                <input type="radio" name="" value=""> Komedia <br>
                <input type="radio" name="" value=""> Romans <br>
                <button type="submit" class="select">Wybierz</button>
            </form>

            <h1>Wybierz cene</h1>
            <form>
                <input type="text" placeholder="from">
                <input type="text" placeholder="to"> <br>
                <button type="submit" class="select">Wybierz</button>
            </form>
        </aside>
-->
    </div>
</section>

<footer th:fragment="footer">
    <div class="container">
        <nav>
            <ul>
                <!--<li><a href="#">FAQ</a></li>-->
                <!--<li><a href="#">Kontakt</a></li>-->
                <!--<li><a href="#">News</a></li>-->
                <li><p>Created by boguwyrw</p></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>