<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Lista filmow</title>
</head>
<body>
<header th:replace="mainPage :: header"></header>
<div class="container">
<table>
    <tr>
        <th>Id</th>
        <th>Tytul</th>
        <th>Rezyser</th>
        <th>Data premiery</th>
        <th>Godzina premiery</th>
        <th>Gatunek</th>
        <th>Kategoria wiekowa</th>
        <th>Edytuj</th>
        <th>Usun</th>
    </tr>
    <tr th:each="movie : ${movieList}">
        <th><p th:text="${movie.getMovieId()}"></p></th>
        <th><p th:text="${movie.getTitle()}"></p></th>
        <th><p th:text="${movie.getDirector()}"></p></th>
        <th><p th:text="${movie.getReleaseDate()}"></p></th>
        <th><p th:text="${movie.getStartHour()}"></p></th>
        <th><p th:text="${movie.getFilmGenre()}"></p></th>
        <th><p th:text="${movie.getAgeRating()}"></p></th>
        <th><a th:href="@{'/updateMovie/' + ${movie.getMovieId()}}">Edytuj</a></th>
        <th><a th:href="@{'/deleteMovie/' + ${movie.getMovieId()}}">Usun</a></th>
    </tr>
</table>
</div>

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>