<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Lista filmow</title>
</head>
<body>
<div th:replace="mainPage :: header"></div>
<!--<div class="container">-->
<div class="row col-md-offset-1 col-md-10">
    <div class="row table-header">
        <div class="col-md-1">Id</div>
        <div class="col-md-2">Tytul</div>
        <div class="col-md-2">Rezyser</div>
        <div class="col-md-2">Data premiery</div>
        <div class="col-md-1">Godzina premiery</div>
        <div class="col-md-1">Gatunek</div>
        <div class="col-md-1">Kategoria wiekowa</div>
        <div class="col-md-2">
        <div class="col-md-6">Edytuj</div>
        <div class="col-md-6">Usun</div>
        </div>
    </div>
    <div class="row table-row" th:each="movie : ${movieList}">
        <div class="col-md-1"><p th:text="${movie.getMovieId()}"></p></div>
        <div class="col-md-2"><p th:text="${movie.getTitle()}"></p></div>
        <div class="col-md-2"><p th:text="${movie.getDirector()}"></p></div>
        <div class="col-md-2"><p th:text="${movie.getReleaseDate()}"></p></div>
        <div class="col-md-1"><p th:text="${movie.getStartHour()}"></p></div>
        <div class="col-md-1"><p th:text="${movie.getFilmGenre()}"></p></div>
        <div class="col-md-1"><p th:text="${movie.getAgeRating()}"></p></div>
        <div class="col-md-2">
        <div class="col-md-6"><a th:href="@{'/updateMovie/' + ${movie.getMovieId()}}">Edytuj</a></div>
        <div class="col-md-6"><a th:href="@{'/deleteMovie/' + ${movie.getMovieId()}}">Usun</a></div>
        </div>
    </div>
</div>
<!--</div>-->

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>