<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPage :: links">
    <meta charset="UTF-8">
    <title>Zmiana filmow</title>
</head>
<body>
<header th:replace="mainPage :: header"></header>
<div class="container">

    <form th:action="@{/updateMovie}" th:object="${movie}" method="post">
        <input th:value="*{movieId}" th:field="*{movieId}" hidden>
        <div>

            <div>
                <label for="movieTitle">Tytul filmu:</label>
            </div>
            <div>
                <input id="movieTitle" type="text" th:value="*{title}" th:field="*{title}">
            </div>

            <div>
                <label for="director">Rezyser:</label>
            </div>
            <div>
                <input id="director" type="text" th:value="*{director}" th:field="*{director}">
            </div>

            <div>
                <label for="releaseDate">Data premiery:</label>
            </div>
            <div>
                <input id="releaseDate" type="date" th:value="*{releaseDate}" th:field="*{releaseDate}">
            </div>

            <div>
                <label for="startHour">Godzina premiery:</label>
            </div>
            <div>
                <input id="startHour" type="time" th:value="*{startHour}" th:field="*{startHour}">
            </div>

            <div>
                <label for="filmGenre">Gatunek filmowy:</label>
            </div>
            <div>
                <input id="filmGenre" type="text" th:value="*{filmGenre}" th:field="*{filmGenre}">
            </div>

            <div>
                <label for="ageRating">Przedzial wiekowy:</label>
            </div>
            <div>
                <input id="ageRating" type="number" th:value="*{ageRating}" th:field="*{ageRating}">
            </div>

        </div>

        <div>
            <input type="submit" th:value="Zapisz">
        </div>

    </form>

</div>

<footer th:replace="mainPage :: footer"></footer>
</body>
</html>